.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  min-height: 100vh;
}

.header {
  max-width: 800px;
  text-align: center;

  /* glassy background */
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(12px) saturate(180%);

  padding: 2.5rem 2rem;
  margin: .5rem;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

  animation: fadeIn 0.6s ease-in-out;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff; /* white text pops on bg image */
  margin-bottom: 1.5rem;
}

.sentence {
  font-size: 1.125rem;
  line-height: 1.75;
  color: #f3f4f6; /* light gray for readability */
}

.list {
  list-style-type: none;
  padding: 1rem 1rem;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.002); 
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.105);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  color: #f9fafb; /* light gray for readability */
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 1rem;
}

.listItem {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.6;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;   /* centers content */
  align-items: stretch;      /* makes boxes equal height */

}

.sectionBox {
  flex: 1;                   /* equal width */
  padding: 20px;
  max-width: 800px;
  margin-top: 1rem;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(12px) saturate(180%);
  text-align: center;
}


/* subtle fade in */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}
